:root{
    font-family: 'Lato', sans-serif;
}
html{
    width: 100%;
}
body{
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    width: 100%;
    background-color: white;
    z-index: 20;
}
nav >  h2{
    padding: 1.25em;
}
a{
    text-decoration: none;
    color: black;
}
nav > a, footer > div > div > a{
    margin: 1em;
    text-decoration: none;
    color: black;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main > h1{
    margin: 2em;
    font-size: 2.25em;
}
main > p{
    max-width: 60%;
    margin: 0;
    font-size: 1.25em;
}
.carbon{
    max-width: 50em;
}
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    width: 100%;
    margin-top: 20em;
    padding: 3em 0;
}
footer > div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
footer > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1em;
}
footer > div > div a{
    color: white;
}
#grid{
    border: 2px double black;
    transition: all 800ms ease;
    border-radius: 15em;
    padding: 0.5em 1em;
}
@media only screen and (max-width: 1000px){
    .carbon{
        width: 100%;
    }
    main > p{
        max-width: 80%;
    }
}